.btw-select-voters {
	align-items: center;
	justify-content: center;
	display: flex;
  
	.title{
        margin-bottom: 20px;

        @include respond-to($phone) {
            margin-bottom: 3px;
        }
	}
  
	.page-description{
        margin-bottom: 26px;

        @include respond-to($phone) {
           display: none;
        }
    }
    
    .page-no-connect-description{
        margin-bottom: 30px;

        span {
            cursor: pointer;
            color: $primary;
        }

        @include respond-to($phone) {
            margin-bottom: 20px;
         }
    }

    .search-input{
        margin-bottom: 8px;
    }

    .social-info-no-table {
        width: 100%;
        align-items: center;
        display: flex;
        padding: 80px 0;
        flex-direction: column;

        @include respond-to($phone) {
            display: none;
        }
    }

    .table-container{
        margin: 24px 0;
        padding: 26px 32px;

        .table-description {
            padding: 0 10px;

            @include respond-to($phone) {
                display: none;
            }
        }

        @include respond-to($phone) {
            padding: 0;
            box-shadow: unset;
            border-radius: 0;
            background-color: unset;
        }
    }

    .voter-progress-bar-desktop {
        margin-bottom: 16px;

        @include respond-to($tablet) {
            display: none;
        }

        @include respond-to($phone) {
            display: none;
        }
    }

    .voter-progress-bar-tablet {
        margin-bottom: 0px;

        @include respond-to($desktop) {
            display: none;
        }
    }

    .social-info-desktop{
        margin-bottom: 24px;

        @include respond-to($tablet) {
            display: none;
        }
    }

    .social-info-tablet{
        margin-bottom: 35px;

        @include respond-to($desktop) {
            display: none;
        }
    }
}