.btw-header {
  .btw-on-header {
    .navbar {
      padding: 10px;
    }
    .navbar-default {
      border: none;
      & .navbar-collapse {
        border: none;
      }
    }
    @include respond-to($desktop) {
      .navbar {
        padding: 50px 0 15px 0;
        position: relative;
        #logo {
          position: absolute;
          top: 8px;
          left: 5%;
        }
      }
    }
    nav {
      a {
        font-family: Avenir-Black;
        color: $blue;
        font-size: 19px;
      }
      a:hover {
        color: lighten($blue, 15%);
        background-color: transparent;
      }
      a:focus {
        color: lighten($blue, 10%)
      }
      background: $white;
    }
    .btw-nav-dropdown {
      #nav-dropdown {
        color: white;
        background-color: transparent !important;
        padding-top: 7px;
      }
      .dropdown-menu {
        min-width: 200px;
        font-size: 15px;
        li {
          margin: 10px;
        }
      }
    }
    .active-menu {
      text-decoration: underline;
    }
  }

}
