.btw-header {
  .btw-off-header {
    .navbar-nav {
      width: 85%;
      text-align: center;
      > li {
        float: none;
        display: inline-block;
      }
    }
    .nav {
      background: linear-gradient(to right, $primary_color, $secondary_color);
      span {
        color: white;
        font-family: Gotham_Narrow_Medium;
        font-size: 24pt;
      }
      img {
        margin-top: -15px;
        margin-left: 3px;
      }
    }
    nav {
      background: linear-gradient(to right, $primary_color, $secondary_color);
      a {
        color: #353C4C;
      }
      a:hover {
        color: black;
      }
    }
    .btw-logo {
      width: 60px;
      margin-left: 2%;
    }

    .mb-1 {
      margin-bottom: 10px;
    }

    .row {
      margin: 0;
    }
  }

  .btw-on-header {
    .navbar {
      margin-bottom: 0;
      padding: 9px;
    }
    .navbar-default {
      border: none;
      & .navbar-collapse {
        border: none;
      }
    }
    .dropdown-div {
      margin: 10px 0 10px 0;
    }
    nav {
      a {
        font-family: Gotham_Narrow_Black;
        color: white;
        font-size: 19px;
      }
      a:hover {
        color: #DBE8F8;
        background-color: transparent;
      }
      a:focus {
        color: white;
      }
      background: linear-gradient(to right, $primary_color, $secondary_color);
    }
    .header-icon {
      a {
        padding-top: 7px;
      }
    }
    .btw-avatar {
      font-size: 40px;
      float: left;
      margin-right: 12px;
    }
    .btw-nav-dropdown {
      #nav-dropdown {
        color: white;
        background-color: transparent !important;
      }
      ul {
        background-color: $primary_color !important;
      }
      li {
        list-style-type: none;
        .caret {
          border-top: 6px dashed;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
        }
      }
      .dropdown-menu {
        min-width: 200px;
        font-size: 15px;
        li {
          margin: 10px;
        }
      }
    }
    .btw-nav-score {
      color: green;
      font-size: 18px;
      float: right;
      margin-top: 8px;
    }

    .active-menu {
      background-color: lighten($secondary_color, 15%) !important;
    }
  }

}
