.btw-app {
  background-color: $background;
  height: 100vh;
  .btw-content {
    display: flex;
    justify-content: center;
    @include respond-to($desktop) {
      padding-top: 138px;
    }
    @include respond-to($phone) {
      height: 90%;
      align-items: center;
    }
  }
}