.btw-button {
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(146, 100, 6);
  color: white;
  font-family: Gotham_Narrow_Medium;
  background-color: #E1A427;
  transition: background-color .2s ease,color .2s ease,border-color .2s ease;

  &:hover {
    background-color: rgb(146, 100, 6);
  }
  &:disabled, [disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

.button-large {
  @include respond-to($phone) {
    padding: 0 15px;
  }
  @include respond-to($desktop) {
    padding: 0 35px;
  }
  font-size: 14pt;
  height: 50px;
}

.button-medium {
  @include respond-to($phone) {
    padding: 0 10px;
  }
  @include respond-to($desktop) {
    padding: 0 32px;
  }
  font-size: 11pt;
  height: 41px;
}
.button-small {
  // TODO
}