.btw-input {
  color: $dark-blue;
  font-size: 14pt;
  outline: none;
}

.btw-label {
  font-weight: 400;
  font-size: 18px;
}

.btw-input-error {
  margin-bottom: 8px !important;

  @include respond-to($phone) {
    font-size: 13px !important;
  }
}

.btw-error-white {
  color: $white !important;
}


.btw-password-error {
  #requirements {
    margin-bottom: 10px;
  }
  span {
    display: block;
    margin-top: 5px;
  }
  border-radius: 3px;
  background-color: $white;
  color: $dark-blue;
  padding: 10px 5px 5px 10px;
}
