.btw-modal {
  z-index: 100000;
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    border-bottom: none;
    text-align: center;
    color: #0097A7;
  }
  .modal-title {
    font-size: 20pt;
  }
  .modal-body {
    min-height: 150px;
  }
  .modal-footer {
    border-top: none;
  }
}

.btw-modal-mobile {
  margin-top: 30%;
  width: 97%;
  border-radius: 7px;
  .modal-header, .modal-footer {
    border: none;
  }
}