.dialog-center {
  display: flex !important;
  height: 100%;
  align-items: center;
}

.btw-modal {
  z-index: 100000;
  @extend .dialog-center;

  .modal-content {
    border-radius: 5px;
  }
  .modal-header {
    border-bottom: none;
    text-align: center;
    color: #0097A7;
  }
  .modal-title {
    font-size: 20pt;
  }
  .modal-body {
    min-height: 150px;
  }
  .modal-footer {
    border-top: none;
  }
}

.btw-modal-mobile {
  @extend .dialog-center;

  .modal-dialog {
    width: 100%;
    margin: 0 20px;
  }
  .modal-content {
    min-height: 300px;
    border-radius: 20px;
  }
  .modal-header, .modal-footer {
    border: none;
  }
}