.btw-social-list{

    display: flex;
    width: fit-content;
    align-items: center;

    div:nth-child(2) {
        margin: 0 8px;
    }
}

.social-list-large{
    div:nth-child(2) {
        margin: 0 24px;
    }
}

