.btw-social-icons{

    display: flex;
    width: fit-content;

    .icon{
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-small{
        width: 16px;
        height: 16px;
    }

    .icon-medium{
        width: 24px;
        height: 24px;
    }

    .icon:nth-child(2) {
        margin: 0 8px;
    }

    .facebook {
        background-color: $facebook-color;
    }

    .twitter {
        background-color: $twitter-color;
    }

    .linkedIn {
        background-color: $linkedin-color;
        
    }

    .default {
        background-color: $divider;
    }
}

