// TODO check usages of this colors and remove it
$primary_color: #0097A7;
$secondary_color: #004F7F;

$light-blue: #32B5CC;
$blue: #0D6291;
$dark-blue: #001D34;
$grey: #F7F7F7;

// new colors
$primary: #4B70F3;
$primary-hover: #3B5DD9;
$secondary: #515973;
$main: #0A1333;
$divider: #E9EBF3;
$error: #ED5052;
$background: #FAFBFF;
$success: #20DDAD;
$alert: #FEC754;
$white: #FFFFFF;

// social colors
$linkedin-color: #0077B5;
$facebook-color: #3B5998;
$twitter-color: #38A1F3;
