.btw-input {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
  color: $dark-blue;
  height: $input_field_height;
  font-size: $font_size_input;

  &:focus {
    border-color: #006BA6;
  }
}

.btw-input-new {
  @extend .btw-input;
  color: #4C4C4C;
  font-size: 14pt;
  font-family: Avenir-Light;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  outline: none;
}

.btw-label {
  font-weight: $font_weight_normal;
  font-size: $font_size_label;
}

.btw-select {
  display: block;
  width: 100%;
  padding: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #D3D6DC;
  vertical-align: middle;
  color: #0D1C3D;
  height: $input_field_height;
  font-size: $font_size_input;
  background-color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;

  background: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/MediaWiki_Vector_skin_action_arrow.svg) 96% / 8% no-repeat;

  &:focus {
    border-color: #006BA6;
  }
}


.btw-dropdown {
  position: relative !important;
}

.btw-validated-dropdown {
  .Select-control {
    border-radius: 0;
    border: 1px solid #0097A7;
    height: 50px;
  }
  .Select-placeholder, .Select-value, .Select-input{
    font-size: 13pt;
    line-height: 50px !important;
  }
  .Select-option.is-selected {
    background-color: lighten(grey, 50%);
  }

  .Select-option.is-focused {
    background-color: lighten(grey, 40%);
  }
}

.btw-input-error {
  margin-bottom: 8px !important;

  @include respond-to($phone) {
    font-size: 13px !important;
  }
}

.btw-error-white {
  color: $white !important;
}

.btw-spinner {
  display: flex;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.btw-password-error {
  #requirements {
    margin-bottom: 10px;
  }
  span {
    display: block;
    margin-top: 5px;
  }
  border-radius: 3px;
  background-color: $white;
  color: $dark-blue;
  padding: 10px 5px 5px 10px;
}