.btw-spinner {
  display: flex;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.btw-paper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: $white;
}

.btw-typography {
  font-family: Open-Sans;
  color: $main;

  &.heading {
    font-weight: 600;

    @include respond-to($computer) {
      font-size: 20px;
    }
    @include respond-to($phone) {
      font-size: 18px;
    }
  }

  .sub-title {
    font-weight: normal;
  }

  &.body {
    @extend .sub-title;
    font-size: 13px;
  }

  &.functional {
    @extend .sub-title;
    font-size: 12px;
  }
}