$phone: '(max-width: 480px)';
$tablet: '(min-width: 481px) and (max-width: 1199px)';
$desktop: '(min-width: 1200px)';
$computer: '(min-width: 481px)'; /* for tablets and desktop */


$xs: '(max-width: 768px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 992px)';
$lg: '(min-width: 1200px)';
$xl: '(min-width: 1600px)';

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}


