$phone: '(max-width: 480px)';
$tablet: '(min-width: 481px) and (max-width: 1199px)';
$desktop: '(min-width: 1200px)';
$computer: '(min-width: 481px)'; /* for tablets and desktop */

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}


