.success-text {
  font-size: 23px;
  margin-bottom: 24px;
  font-weight: bold;
  color: grey;
}

.success-points {
  font-size: 35px;
  font-weight: bold;
  color: green;
}

.success-level {
  display: flex;
  float: right;
  margin-top: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -125%;
  left: 50%;
  margin-left: -90px;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}