// general
.title-32 {
  font-family: Avenir-Black;
  font-size: 32px;
}
.title-24 {
  font-family: Avenir-Black;
  font-size: 24px;
}
.title-20 {
  font-family: Avenir-Black;
  font-size: 20px;
}
.title-16 {
  font-family: Avenir-Black;
  font-size: 16px;
}
.title-14 {
  font-family: Avenir-Black;
  font-size: 14px;
}
.title-12 {
  font-family: Avenir-Black;
  font-size: 12px;
}
.button-text {
  font-family: Avenir-Black;
  font-size: 16px;
}
.text-18 {
  font-family: Avenir-Light;
  font-size: 18px;
}

// white
.title-20-white {
  @extend .title-20;
  color: $white;
}
.title-16-white {
  @extend .title-16;
  color: $white;
}
.text-18-white {
  @extend .text-18;
  color: $white;
}
.title-24-white {
  @extend .title-24;
  color: $white;
}
.title-32-white {
  @extend .title-32;
  color: $white;
}

// blue
.title-32-blue {
  @extend .title-32;
  color: $blue;
}
.title-24-blue {
  @extend .title-24;
  color: $blue;
}

// light-blue
.title-32-light-blue {
  @extend .title-32;
  color: $light-blue;
}

// dark blue
#title-12-dark-blue {
  @extend .title-14;
  color: $dark-blue;
}


#link-small {
  font-family: Avenir-Light;
  font-size: 15px;
  font-weight: 600;
  @include respond-to($phone) {
    color: $white;
  }
  @include respond-to($desktop) {
    color: $dark-blue;
  }
  text-decoration: underline;
}

#link-large {
  @extend .title-16;
  @include respond-to($phone) {
    color: $white;
  }
  @include respond-to($desktop) {
    color: $dark-blue;
  }
  text-decoration: underline;
}

#link-small-red {
  @extend #link-small;
  @include respond-to($desktop) {
    color: $red;
  }
}

