// general
.title-32 {
  font-family: Avenir-Black;
  font-size: 32px;
}
.title-24 {
  font-family: Avenir-Black;
  font-size: 24px;
}
.title-20 {
  font-family: Avenir-Black;
  font-size: 20px;
}
.title-16 {
  font-family: Avenir-Black;
  font-size: 16px;
}
.title-14 {
  font-family: Avenir-Black;
  font-size: 14px;
}
.title-12 {
  font-family: Avenir-Black;
  font-size: 12px;
}
.button-text {
  font-family: Avenir-Black;
  font-size: 16px;
}
.text-18 {
  font-family: Avenir-Light;
  font-size: 18px;
}
.text-15 {
  font-family: Avenir-Light;
  font-size: 15px;
}

// white
.title-32-white {
  @extend .title-32;
  color: $white;
}
.title-24-white {
  @extend .title-24;
  color: $white;
}
.title-20-white {
  @extend .title-20;
  color: $white;
}
.title-16-white {
  @extend .title-16;
  color: $white;
}
.title-14-white {
  @extend .title-14;
  color: $white;
}
.title-12-white {
  @extend .title-12;
  color: $white;
}
.text-15-white {
  @extend .text-15;
  color: $white;
}
.text-15-white-bold {
  @extend .text-15-white;
  font-weight: 600;
}
.text-18-white {
  @extend .text-18;
  color: $white;
}
.text-18-white-bold {
  @extend .text-18-white;
  font-weight: 600;
}

// blue
.title-32-blue {
  @extend .title-32;
  color: $blue;
}
.title-24-blue {
  @extend .title-24;
  color: $blue;
}
.title-20-blue {
  @extend .title-20;
  color: $blue;
}
.title-16-blue {
  @extend .title-16;
  color: $blue;
}
.title-14-blue {
  @extend .title-14;
  color: $blue;
}
.title-12-blue {
  @extend .title-12;
  color: $blue;
}
.text-18-blue {
  @extend .text-18;
  color: $blue;
}
.text-18-blue-bold {
  @extend .text-18-blue;
  font-weight: 600;
}

// light-blue
.title-32-light-blue {
  @extend .title-32;
  color: $light-blue;
}
.title-24-light-blue {
  @extend .title-24;
  color: $light-blue;
}
.title-20-light-blue {
  @extend .title-20;
  color: $light-blue;
}
.title-16-light-blue {
  @extend .title-16;
  color: $light-blue;
}
.title-14-light-blue {
  @extend .title-14;
  color: $light-blue;
}
.title-12-light-blue {
  @extend .title-12;
  color: $light-blue;
}
.text-18-light-blue {
  @extend .text-18;
  color: $light-blue;
}
.text-18-light-blue-bold {
  @extend .text-18-light-blue;
  font-weight: 600;
}

// dark blue
.title-32-dark-blue {
  @extend .title-32;
  color: $dark-blue;
}
.title-24-dark-blue {
  @extend .title-24;
  color: $dark-blue;
}
.title-20-dark-blue {
  @extend .title-20;
  color: $dark-blue;
}
.title-16-dark-blue {
  @extend .title-16;
  color: $dark-blue;
}
.title-14-dark-blue {
  @extend .title-14;
  color: $dark-blue;
}
.title-12-dark-blue {
  @extend .title-12;
  color: $dark-blue;
}
.text-15-dark-blue {
  @extend .text-15;
  color: $dark-blue;
}
.text-15-dark-blue-bold {
  @extend .text-15-dark-blue;
  font-weight: 600;
}
.text-18-dark-blue {
  @extend .text-18;
  color: $dark-blue;
}
.text-18-dark-blue-bold {
  @extend .text-18-dark-blue;
  font-weight: 600;
}

//red
.title-32-red {
  @extend .title-32;
  color: $error;
}
.title-24-red {
  @extend .title-24;
  color: $error;
}
.title-20-red {
  @extend .title-20;
  color: $error;
}
.title-16-red {
  @extend .title-16;
  color: $error;
}
.title-14-red {
  @extend .title-14;
  color: $error;
}
.title-12-red {
  @extend .title-12;
  color: $error;
}
.text-18-red {
  @extend .text-18;
  color: $error;
}


// links

.link-small-dark-blue {
  @extend .title-16-dark-blue;
  text-decoration: underline;
  cursor: pointer;
}
.link-medium-dark-blue {
  @extend .title-20-dark-blue;
  text-decoration: underline;
  cursor: pointer;
}
.link-medium-blue {
  @extend .title-20-blue;
  text-decoration: underline;
  cursor: pointer;
}
.link-medium-light-blue {
  @extend .title-20-light-blue;
  text-decoration: underline;
  cursor: pointer;
}

#link-small {
  font-family: Avenir-Light;
  font-size: 15px;
  font-weight: 600;
  @include respond-to($phone) {
    color: $white;
  }
  @include respond-to($desktop) {
    color: $dark-blue;
  }
  text-decoration: underline;
}

#link-large {
  @extend .title-16;
  @include respond-to($phone) {
    color: $white;
  }
  @include respond-to($desktop) {
    color: $dark-blue;
  }
  text-decoration: underline;
}

#link-small-red {
  @extend #link-small;
  @include respond-to($desktop) {
    color: $error;
  }
}


// arrows
.arrow-right-dark-blue {
  border: solid $dark-blue;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
