.bwt-task-list {
  width: 100%;

  .tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;

    li {
      margin: 0 10px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      color: #515973;
      line-height: 18px;
      padding: 0;

      &.active {
        color: black;
      }
    }
  }

  .actions-content {
    padding: 0 200px;
    display: flex;
    justify-content: center;

    .actions {
      padding: 8px;
      cursor: pointer;

      .action {
        padding: 18px 40px;
        width: 424px;

        .action-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .action-status {
            display: flex;
            align-items: center;

            .status-text {
              margin-left: 5px;
            }
          }

          .action-points {
            display: flex;
            align-items: center;

            .points-text {
              margin-left: 4px;
            }
          }
        }

        .action-title {
          margin-top: 32px;
          font-size: 12px;
          line-height: 130%;
        }

        .action-duration {
          font-size: 12px;
          margin-bottom: 27px;
        }

        .task-done {
          font-size: 12px;
        }
      }
    }

    .active-action {
      width: 600px;
    }
  }
}
