.btw-task {
  margin-top: 3%;
  @include respond-to($desktop) {
    width: 80%;
  }

  .result-icon {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
  }

  .success-icon {
    padding: 2%;
    .icon {
      @extend .result-icon;
    }
  }

  .error-icon {
    padding: 2%;
    .icon {
      @extend .result-icon
    }
  }

  .btw-task-info {
    padding: 15px 20px;
    @extend .shadow;
    background-color: $white;
    border-radius: 5px;

    .info {
      margin: 15px 0;
    }

    .section {
      margin-left: 10px;
      margin-top: 10px;
    }

    #arrow-icon {
      margin: 10px 0;
      cursor: pointer;
      text-align: center;
    }
  }

  .bottoms-buttons {
    #buttons-desktop {
      @extend .shadow;
      margin: 30px 0;
      background-color: $white;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      padding: 15px;
    }
    #buttons-mobile {
      margin-top: 20px;
      text-align: center;
      .button {
        @extend .shadow;
        border-radius: 5px;
        margin: 20px 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
      }
    }
  }
}
.btw-cheat-sheet-modal {
  #title {
    text-align: center;
    margin-bottom: 15px;
  }
}