.bwt-task-list {
  width: 100%;

  .tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;

    li {
      margin: 0 10px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      color: $secondary;
      line-height: 18px;
      padding: 0;

      &.active {
        color: black;
      }
    }
  }

  .actions-content {
    padding: 0;
    display: flex;
    justify-content: center;

    .actions {
      padding: 8px;
      cursor: pointer;

      .action {
        padding: 18px 40px;
        width: 424px;
        margin-bottom: 16px;

        .action-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .action-title {
          margin-top: 32px;
          font-size: 12px;
          line-height: 130%;
        }

        .task-done {
          font-size: 12px;
        }
      }
    }

    .selected-action {
      width: 600px;

      .header {
        padding: 19px 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $divider;
      }

      .action-body {
        padding: 27px 40px;

        .active-task-title {
          margin: 21px 0 12px;
        }
      }

      .sub_task-item {
        border: 1px solid $divider;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 15px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .voter-detail {
          display: flex;
          align-items: center;

          .voter-general{
            margin: 0 0 0 17px;
            
            .voter-name {
              font-size: 13px;
            }
          }
        }
      }
    }

    .action-status {
      display: flex;
      align-items: center;

      .status-text {
        margin-left: 5px;
      }
    }

    .action-points {
      display: flex;
      align-items: center;

      .points-text {
        margin-left: 4px;
      }
    }
    
    .action-duration {
      font-size: 12px;
      margin-bottom: 27px;
    }
  }
}
