@import '../../../styles/shared/index.scss';

.btw-register-paper {

  @include respond-to($phone) {
    width: 310px;
    padding: 20px 20px 20px 20px;
  }

  @include respond-to($computer) {
    width: 512px;
    padding: 43px 88px 30px 88px;
  }

}

.btw-social-width {
  @include respond-to($phone) {
    width: 272px;
  }

  @include respond-to($computer) {
    width: 336px;
  }
}

.btw-bottom-text {
  margin-right: 6px;
}