.btw-logs {
    margin-top: 40px;
    padding-bottom: 20px;
    overflow: scroll;

    .header {
        background-color: #E5EBD8;
    }

    .header-cell {
        font-weight: bold;
        color: #04278E;
    }

    .search-box {
        float: right;
        display: inline-flex;
        margin-right: 20px;

        input {
            width: 200px;
            height: 40px;
            margin-right: 20px;
        }
    }
}