.btw-performer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 16px 24px;
    margin: 14px 0;

    &:hover {
        border: 1px solid #4B70F3;
    }

    .performer-info{
        display: flex;

        .place{
            margin-right: 8px;
        }

        .info{
            margin-left: 16px;
        }
    }

    .performer-status{
        display: flex;

        .status-item{

            &:first-child{
                margin-right: 36px;

                @include respond-to($phone) {
                    margin-right: 0;
                }
            }

            .status-label{
                color: $secondary;

                @include respond-to($phone) {
                    display: none;
                }
            }

            .status-value{
                color: $secondary;
                display: flex;
                align-items: center;

                .status-icon{
                    padding-right: 3px;
                }
            }
        }

        @include respond-to($phone) {
            flex-direction: column;
        }
    }
}