.btw-captains-dashboard {
  #name {
    margin: 2% 0;
  }
  .white-box {
    @extend .shadow;
    border-radius: 5px;
    background-color: $white;
    @include respond-to($desktop) {
      padding: 2.5% 3.5%;
    }
    @include respond-to($phone) {
      padding: 20px 25px;
    }
  }
  #recent-task {
    margin: 4% 0;
    #get-started {
      margin: 0 6px;
    }
  }
  #voters {
    margin: 4% 0;
    #voter-count-div {
      padding: 0 5% 0 0;
      #voter-count {
        height: 111px;
      }
    }
    #add-voter {
      height: 111px;
      text-align: center;
      img {
        margin-top: 14%;
        cursor: pointer;
      }
    }
  }
  #resource-center {
    margin-top: 6%;
  }
  #resource-center-mobile {
    margin: 10% 2%;
  }
  #help-friends {
    margin-left: 3.5%;
    .circle {
      border: 3px solid $blue;
      padding: 0 9px;
      margin-right: 10px;
      border-radius: 50%;
    }
    #circle-point {
      margin: 20px 0;
    }
  }
}
