.btw-captains-dashboard {
  #name {
    margin: 2% 0;
  }
  .white-box {
    @extend .shadow;
    border-radius: 5px;
    background-color: $white;
    padding: 2.5% 3.5%;
  }
  #recent-task {
    margin: 4% 0;
    #get-started {
      margin: 0 6px;
    }
  }
  #voters {
    margin: 4% 0;
    #voter-count {
      padding: 0 5% 0 0;
      .link-small-dark-blue {
        margin: 5% 0;
      }
    }
    #add-voter {
      text-align: center;
      img {
        margin-top: 14%;
        cursor: pointer;
      }
    }
  }
  #resource-center {
    margin-top: 6%;
  }
  #help-friends {
    margin-left: 3.5%;
    .circle {
      border: 3px solid $blue;
      padding: 0 9px;
      margin-right: 10px;
      border-radius: 50%;
      @extend .title-24-blue;
    }
    #circle-point {
      margin: 20px 0;
    }
  }
}
