.bcd-task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 26px;
    border-radius: 3px;
    border-left: 8px solid transparent;

    .task-status {
        display: flex;
        align-items: center;

        .mark-button {
            width: auto;
            margin-left: 5px;
            background: transparent;
        }
    }
}

.bcd-task-item-light{
    background: linear-gradient($white,$white) padding-box,
    linear-gradient(to bottom, rgba($primary_color, 0.5) 34.93%, rgba($primary_color, 0.8) 86.82%) border-box;
}

.bcd-task-item-dark{
    background: linear-gradient($white,$white) padding-box,
    linear-gradient(to bottom, rgba($secondary_color, 0.5) 34.93%, rgba($secondary_color, 0.8) 86.82%) border-box;
}