.btw-captains-dashboard {

 .today-extra-points {
   margin-top: 90px;
   margin-bottom: 30px;
 }

 .today-extra-point {
   padding: 24px;
   border-radius: 3px;
   color: $white;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &.left-point {
    background: linear-gradient(267.51deg, #5ED5CC 0.26%, #2BADC6 98.82%);
   }

   &.right-point {
    background: linear-gradient(267.62deg, #56B2D7 0.68%, #648ECA 99.71%)
   }

   .points-marks {
     display: flex;
     align-items: center;

     .mark-as-done-btn {
        width: auto;
        background: transparent;
        border: solid 1px;
        margin-left: 5px;
     }
   }
 }

 .actions-in-progress-title {
   margin-top: 50px;
   margin-bottom: 30px;
 }

 .action-in-progress {
  padding: 20px;
  cursor: pointer;

  .action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .action-title {
    margin-top: 32px;
    font-size: 12px;
    line-height: 130%;
  }

  .task-done {
    font-size: 12px;
    margin-top: 3px;
  }

  .action-status {
    display: flex;
    align-items: center;

    .status-text {
      margin-left: 5px;
    }
  }

  .action-points {
    display: flex;
    align-items: center;

    .points-text {
      margin-left: 4px;
    }
  }
  
  .action-duration {
    font-size: 12px;
    margin-bottom: 27px;
  }
 }

 .your-voters-title {
   margin-top: 50px;
   margin-bottom: 30px;
 }
 
}
