@import '~font-awesome/css/font-awesome.css';
@import '~rc-pagination/assets/index.css';
@import '~react-select/dist/react-select.css';

@font-face {
	font-family: Open-Sans;
	font-weight: 300;
	src: url(../resources/fonts/OpenSans-Light.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: normal;
	src: url(../resources/fonts/OpenSans-Regular.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 600;
	src: url(../resources/fonts/OpenSans-SemiBold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: bold;
	src: url(../resources/fonts/OpenSans-Bold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 800;
	src: url(../resources/fonts/OpenSans-ExtraBold.ttf)
}

html {
	font-size: 14px;

	body {
		font-family: Open-Sans;
	}
}

@import 'shared/colors';
@import 'shared/style';
@import 'shared/mixins';
@import 'shared/components';
@import 'shared/sharedclasses';
@import 'shared/components_lib';


@import 'layout/header';
@import 'layout/layout';

@import 'auth/base';
@import 'auth/register_by_mail';
@import 'auth/register_by_social';
@import 'auth/_login_by_mail';
@import 'auth/login_by_social';
@import 'auth/changePassword/base';
@import 'auth/changePassword/forgot';

@import 'voterList/voterlist';
@import 'voterList/voterDetail';
@import 'voterList/voterProfile';
@import 'voterList/voterCommunication';
@import 'voterList/voterAction';
@import 'voterList/voterCardView';

@import 'errorPages/general';

@import 'captainsDashboard/captainsDashboard';
@import 'captainsDashboard/dashboardUserInfo';
@import 'captainsDashboard/extraPointTask';
@import 'captainsDashboard/topPerformers';
@import 'captainsDashboard/performanceChart';
@import 'captainsDashboard/chartHeader';
@import 'captainsDashboard/chartFooter';

@import 'tasksList/tasksManagement';
@import 'tasksList/taskEmpty';
@import 'tasksList/taskDetail';
@import 'tasksList/taskDetailHeader';
@import 'tasksList/taskDetailContent';
@import 'tasksList/congratsDialog';

@import 'onBoarding/socialNetworks/socialConnect';
@import 'onBoarding/socialNetworks/socialItem';
@import 'onBoarding/welcome';
@import 'onBoarding/selectVoters/selectVoters';
@import 'onBoarding/selectVoters/socialInfo';
@import 'onBoarding/selectVoters/voterNotFound';

@import 'helpCenter/helpCenter';
@import 'helpCenter/tagList';
@import 'helpCenter/questionList';
@import 'helpCenter/questionFilters';
@import 'helpCenter/questionItem';

@import 'onBoarding/selectDistrict/selectDistrict';
@import 'onBoarding/selectDistrict/selectDistrictItem';

@import 'auth/verifyEmail/verifyEmail';

// new components
@import 'components/button';
@import 'components/modal';
@import 'components/input';
@import 'components/dropdown';
@import 'components/checkbox';
@import 'components/searchInput';
@import 'components/votersProgressBar';
@import 'components/votersTable';
@import 'components/autocomplete';
@import 'components/typography';
@import 'components/socialList';
@import 'components/socialIcon';
@import 'components/statusIcon';
@import 'components/voterAvatar';
@import 'components/taskProgressBar';
@import 'components/voterStatusDropdown';
@import 'components/actionItem';
@import 'components/tabs';
@import 'components/subTaskItem';
@import 'components/taskCompleteDialog';
@import 'components/spinner';
@import 'components/alarmComponents/congratsAlarm';
@import 'components/performComponents/voterPerformer';


