@import '~font-awesome/css/font-awesome.css';
@import '~rc-pagination/assets/index.css';
@import '~react-select/dist/react-select.css';

@font-face {
	font-family: Open-Sans;
	font-weight: 300;
	src: url(../resources/fonts/OpenSans-Light.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: normal;
	src: url(../resources/fonts/OpenSans-Regular.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 600;
	src: url(../resources/fonts/OpenSans-SemiBold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: bold;
	src: url(../resources/fonts/OpenSans-Bold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 800;
	src: url(../resources/fonts/OpenSans-ExtraBold.ttf)
}

html {
	font-size: 21px;
}

@import 'shared/_colors.scss';
@import 'shared/style.scss';
@import 'shared/mixins';
@import 'shared/sizes.scss';
@import 'shared/components.scss';
@import 'shared/sharedclasses.scss';
@import 'shared/titles.scss';
@import 'shared/components_lib.scss';


@import 'layout/header.scss';
@import 'layout/about_info.scss';
@import 'layout/layout.scss';

@import 'captainProfile/register.scss';
@import 'voter/makelist';
@import 'captainProfile/profile.scss';

@import 'voter/base.scss';
@import 'voter/detail.scss';
@import 'voter/matchlist.scss';
@import 'voter/success.scss';
@import 'voter/error.scss';
@import 'voter/welcome.scss';

@import 'voterList/voterlist.scss';

@import 'errorPages/general.scss';

@import 'login/login.scss';

@import 'captainsDashboard/dashboard.scss';
@import 'adminDashboard/dashboard.scss';

@import 'tasks/tasklist.scss';
@import 'tasks/taskworkflow.scss';
@import 'tasks/stepper.scss';

@import 'messages/messagelist.scss';

@import 'static/terms.scss';
@import 'static/privacy.scss';
@import 'static/resource_center.scss';

@import 'changePassword/base.scss';
@import 'changePassword/verify.scss';
@import 'changePassword/forgot.scss';

@import 'socialNetworks/socialConnect.scss';
@import 'socialNetworks/socialItem.scss';

@import 'selectVoters/selectVoters.scss';

@import 'userSearch/usersearch';

@import 'transactionLogs/list';
@import 'transactionLogs/detail';

// new components
@import 'components/button';
@import 'components/modal';
@import 'components/input';
@import 'components/dropdown';
@import 'components/checkbox';
@import 'components/searchInput';
@import 'components/votersProgressBar';
@import 'components/simpleTable';