@import '~font-awesome/css/font-awesome.css';
@import '~rc-pagination/assets/index.css';
@import '~react-select/dist/react-select.css';

@font-face {
	font-family: Open-Sans;
	font-weight: 300;
	src: url(../resources/fonts/OpenSans-Light.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: normal;
	src: url(../resources/fonts/OpenSans-Regular.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 600;
	src: url(../resources/fonts/OpenSans-SemiBold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: bold;
	src: url(../resources/fonts/OpenSans-Bold.ttf)
}
@font-face {
	font-family: Open-Sans;
	font-weight: 800;
	src: url(../resources/fonts/OpenSans-ExtraBold.ttf)
}

html {
	font-size: 14px;

	body {
		font-family: Open-Sans;
	}
}

@import 'shared/colors';
@import 'shared/style';
@import 'shared/mixins';
@import 'shared/components';
@import 'shared/sharedclasses';
@import 'shared/titles';
@import 'shared/components_lib';


@import 'layout/header';
@import 'layout/about_info';
@import 'layout/layout';

@import 'auth/base';
@import 'auth/register_by_mail';
@import 'auth/register_by_social';
@import 'auth/_login_by_mail';
@import 'auth/login_by_social';

@import 'voter/makelist';
@import 'captainProfile/profile';

@import 'voter/base';
@import 'voter/detail';
@import 'voter/matchlist';
@import 'voter/success';
@import 'voter/error';
@import 'voter/welcome';


@import 'voterList/voterlist';
@import 'voterList/voterDetail';
@import 'voterList/voterProfile';
@import 'voterList/voterCommunication';
@import 'voterList/voterAction';
@import 'voterList/voterCardView';

@import 'errorPages/general';

@import 'captainsDashboard/dashboard';
@import 'adminDashboard/dashboard';

@import 'tasks/tasklist';
@import 'tasks/taskworkflow';
@import 'tasks/stepper';

@import 'messages/messagelist';

@import 'static/terms';
@import 'static/privacy';
@import 'static/resource_center';

@import 'changePassword/base';
@import 'changePassword/forgot';

@import 'socialNetworks/socialConnect';
@import 'socialNetworks/socialItem';


@import 'selectVoters/selectVoters';
@import 'selectVoters/socialInfo';
@import 'selectVoters/voterNotFound';

@import 'consult/consultManagement';
@import 'consult/consultTagList';
@import 'consult/consultList';

@import 'userSearch/usersearch';

@import 'transactionLogs/list';
@import 'transactionLogs/detail';

@import 'selectDistrict/selectDistrict';
@import 'selectDistrict/selectDistrictItem';

@import 'verifyEmail/verifyEmail';

// new components
@import 'components/button';
@import 'components/modal';
@import 'components/input';
@import 'components/dropdown';
@import 'components/checkbox';
@import 'components/searchInput';
@import 'components/votersProgressBar';
@import 'components/votersTable';
@import 'components/autocomplete';
@import 'components/typography';
@import 'components/socialList';
@import 'components/socialIcon';
@import 'components/statusIcon';
@import 'components/voterAvatar';
@import 'components/taskProgressBar';
@import 'components/voterStatusDropdown';
