.btw-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .btw-form {
    margin-top: 8%;
    padding: 30px;
    border: 1px solid #0097A7;

    .form-group {
      label {
        @extend .btw-label;
        margin-bottom: 15px;
      }

      input {
        @extend .btw-input-new;
        min-width: 280px;
      }
    }

    .title {
      font-family: Gotham_Narrow_Medium;
      font-size: 20pt;
      color: #006699;
    }

    button {
      @extend .btw-button;
      width: 100%;
      margin-top: $input_field_space;
    }
  }

  .link {
    display: flex;
    justify-content: space-between;
  }

  .vertical-divider {
    height: 18px;
    border-left: 1.5px solid #337ab7;
    margin-left: 5px;
    margin-right: 5px;
  }

}