.btw-login {

  background: #FFFFFF;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  @include respond-to($phone) {
    width: 272px;
    padding: 37px 16px 36px;
  }

  @include respond-to($tablet) {
    width: 512px;
    padding: 59px 88px 44px;
    margin-top: 138px;
  }

  @include respond-to($desktop) {
    width: 512px;
    padding: 59px 88px 44px;
  }

  .btw-form {
    
    .login-title{
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 45px;
    }

    .input-field-label{
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 5px;
    }

    .forgot-password-link{
      margin-top: 50px;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      color: black;
    }

    .go-to-signup{
      margin-top: 20px;
    }
  }


  #button-class {
    margin-bottom: 50px;
  }
  


  #mobile-title {
    margin-bottom: 20%;
  }
  #new-text {
    font-family: Avenir-Light;
    font-size: 18px;
    font-weight: 600;
    @include respond-to($phone) {
      color: $white;
    }
    @include respond-to($desktop) {
      color: $dark-blue;
    }
  }
}

.login-center-modal {
  display: flex !important;

  .forgot-password { 
    padding: 60px 100px 30px 100px;
    text-align: center;

    & > div { margin: 25px 0; }
    & > div:last-child { margin: 50px 0 0 0; a { color: black; } }
  }
  & .modal-dialog { align-self: center; width: fit-content !important; }
  & .modal-header { display: none; }
  & .modal-footer { display: none; }
}

.warning {
  padding: 10px 20px;
  text-align: center;
  font-family: Avenir-Black;
  font-size: 16px;
}
.warning-red {
  @extend .warning;
  color: red;
  border: 1.5px solid red;
}

.warning-green {
  @extend .warning;
  color: green;
  border: 1.5px solid green;
}

.warning-white {
  @extend .warning;
  color: white;
  border: 1.5px solid white;
}

.warning-main {
  @extend .warning;
  color: #0D6291;
  border: 1.5px solid #0D6291;
}