.btw-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .btw-form {
    margin-top: 8%;
    padding: 30px;
    border: 1px solid #0097A7;

    .form-group {
      label {
        @extend .btw-label;
        margin-bottom: 15px;
      }

      input {
        @extend .btw-input;
        color: #4C4C4C;
        font-size: 14pt;
        font-family: Gotham_Narrow_Medium;
        border-color: #0097A7;
        min-width: 280px;
        box-shadow: 0px 4px 7px -2px rgba(0,0,0,0.2);

        &::placeholder { /* Firefox */
            color: #707070;
            opacity: 0.6;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: #707070;
           opacity: 0.6;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
           color: #707070;
           opacity: 0.6;
        }
      }
    }

    .title {
      font-family: Gotham_Narrow_Medium;
      font-size: 20pt;
      color: #006699;
    }

    button {
      @extend .btw-button;
      width: 100%;
      margin-top: $input_field_space;
    }
  }

}