.btw-register {
    #title {
        margin: 15% 0 5% 0;
    }
    #signup-text {
        margin: 5% 0 3% 0;
    }
    #signup-text-mobile {
        @extend #signup-text;
        text-align: center;
        margin-top: 20%;
    }
    #btn_signup {
        margin: 4% 0 4% 0;
    }
    #registered-text-div {
        @include respond-to($phone) {
            text-align: center;
            margin-top: 20%;
        }
        #registered-text {
            font-family: Avenir-Light;
            font-weight: 600;
            font-size: 14px;
            @include respond-to($phone) {
                color: $white;
            }
            @include respond-to($desktop) {
                color: $dark-blue;
            }
        }
    }
    #info-icon {
        cursor: pointer;
        color: $white;
        font-size: 35px;
        margin: 30px 20px 0 0;
    }

    /* check box custom css ** no change ** */
    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 13px;
        margin-bottom: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: transparent;
        border: 2px solid $blue;
    }

    .checkbox-container:hover input ~ .checkmark,
    .checkbox-container:hover .check-label{
        opacity: 1;
    }

    .checkbox-container input:checked ~ .checkmark {
        background-color: $blue;
        opacity: 1;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox-container .checkmark:after {
        left: 7px;
        top: 2px;
        width: 6px;
        height: 14px;
        border: 0.5px solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 1;
    }
    /* check box custom css end */
}

#about-dialog-content {
    margin: 20px 0 20px 0;
}