.btw-profile-panel {
	.panel-title {
		border-bottom: 1px solid $dark-grey;
	}

	label {
		font-weight: 600;
	}

	.profile-info {
		
	}

	.forgot-password {
		font-weight: 600;
		font-size: 15px;
	}
}