.btw-social-connect {

	align-items: center;
	justify-content: center;
	display: flex;
	width: 512px;
  
	.content{
        padding: 51px 88px;
	}
  
	.title{
        margin-bottom: 12px;
	}
  
	.description{
        margin-bottom: 28px;
    }
    
    .socialGroup{
        padding: 24px;
        border-radius: 3px;
        margin-bottom: 32px;
        border: 1px solid $divider;
		box-sizing: border-box;
	}
  
	.btw-social-item:last-child {
		.border-container {
			display: none;
		}
	}
	
	@media screen and (max-width: 568px) {
        .content{
            padding: 37px 16px;
        }
        width: 100%;
        margin: 0 24px;
	}
}