.btw-captains-dashboard {

    .user-info-content {
        margin: 60px 0;

        @include respond-to($phone) {
            margin: 30px 0;
        }

        .main-title{
            padding: 0;

            @include respond-to($phone) {
                margin-bottom: 25px;
            }
        }
    }

    .content {
        margin-bottom: 26px;

        .content-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 26px;

            .content-title{
                font-size: 18px;
            }
        }
        
        .view-button {
            font-size: 13px;
            color: $primary;
            cursor: pointer;
        }

        .view-all{
            @extend .view-button;

            @include respond-to($phone) {
                display: none;
            }
        }

        .view-all-mobile{
            @extend .view-button;
            display: none;

            @include respond-to($phone) {
                display: block;
            }
        }
    }
    
    .svg-icon{
        padding-right: 3px;
    }
}
