.select-disctrict {
    width: 512px;
    padding: 51px 88px;

    @include respond-to($phone) {
        width: 272px;
        padding: 37px 16px;
    }

    .district-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        margin: 0;
    }

    .district-description {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        margin-top: 12px;
    }

    .search-box {
        margin: 28px 0 32px;
    }

    .districts-list {
        max-height: 352px;
        padding: 8px 0;
        overflow: scroll;
        margin: 13px 0 40px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            width: 3px;
            background: #E9EBF3;
        }
    }
}