.btw-change-password {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 512px;
  
    .content{
        padding: 51px 88px;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }
  
    .title{
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: left;
        margin-bottom: 13px;
    }
    
    .errorMessage{
        font-size: 13px;
        color: red;
    }
    
	.remember{
        margin-top: 50px;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        a {
            color: #0A1333;
            font-weight: bold;
        }
	}
  
    @media screen and (max-width: 568px) {
        .content{
            padding: 37px 16px;
        }
        width: 100%;
        margin: 0 24px;
    }
}