.btw-verify {
    .password-div {
        height: 173px;
        text-align: left;
    }

    .video {
        width: 80%;
        height: 400px;
    }

    .padding0 {
        padding: 0;
    }

    .margin0 {
        margin: 0;
    }

    .terms-privacy {
        margin-left: -20px;
    }
}
