.btw-user-search {
  margin-top: 2%;
  .users {
    padding:  0 2% 0 2%;
    border: 1px solid lightgray;
    .user-list {
      .name-row {
        @extend .voter-row;
      }
    }
  }
  .input-filters {
    padding: 2%;
    border: 1px solid lightgray;
    .text-input {
      width: 90%;
    }
    .checkbox-label {
      margin-left: 0;
      span {
        font-size: 14px;
      }
    }
  }

  button {
    margin-top: 7%;
    @extend .btw-button;
  }
}

.image-modal {
  position: absolute;

  @include respond-to($phone) {
    left: calc(50% - 150px);
    top: calc(50% - 120px);
    width: 300px;
    height: 240px;
  }

  @include respond-to($md) {
    left: calc(50% - 300px);
    top: calc(50% - 240px);
    width: 600px;
    height: 480px;
  }

  @include respond-to($lg) {
    left: calc(50% - 480px);
    top: calc(50% - 300px);
    width: 960px;
    height: 600px;
  }

  @include respond-to($xl) {
    left: calc(50% - 600px);
    top: calc(50% - 384px);
    width: 1200px;
    height: 768px;
  }

  left: 0;
  top: 25%;
  width: 100%;
  height: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}