.voter-row {
    height: auto;
    background-color: #3C98D9;
    margin-top: 13px;
    padding: 14px;
    color: white;

    .name-info {
        font-size: 18px;
    }
    .more-info {
        text-align: left;
    }
    .link {
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: darken(white, 10%);
        }
    }
}

.btw-voter-layout {
    .logo {
        @include respond-to($phone) {
            margin: 7% 0 0 9%;
        }
        @include respond-to($desktop) {
            margin: 3% 0 0 6%;
        }
    }
    .layout-center {
        display: flex;
        justify-content: center;
    }
    #info {
        background-color: $white;
        border-radius: 3px;
        padding: 30px 20px;
    }
}

.btw-progress-bar {
    height: 16px;
    width: 100%;
    background-color: $white;
    .inner-bar {
        height: 100%;
        background-color: $light-blue;
    }
}