.btw-match-list {
    padding: 20px;

    #title {
      @include respond-to($desktop) {

      }
      @include  respond-to($phone) {

      }
    }

    .bottom-buttons {
      margin-top: $input_field_space;
      div {
        margin-bottom: 16px;
      }
    }
    .match-list {

    }
}