.welcome-div {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  

  @include respond-to($phone) {
    width: 272px;
    padding: 37px 16px;

    .welcome-message {
      margin-bottom: 28px!important;
    }

    .welcome-video-container {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .mobile-welcome-content {
        position: absolute;
        color: white;
        padding: 45px 40px;

        .welcome-title {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
        }

        .welcome-message {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 130%;
        }
      }

      video {
        object-fit: cover;
      }

    }

    .play-button {
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;

      .white-circle {
        width: 52px;
        height: 52px;
      }
    }

    .watch-later-div {
      position: absolute;
      bottom: 23px;
      width: 100%;
      left: 0;
    }
  }
  
  @include respond-to($desktop) {
    width: 512px;
    padding: 51px 24px;

    .welcome-video-container {
      height: 272px;
      position: relative;

      .mobile-welcome-content {
        display: none;
      }
    }

    .play-button {
      top: 96px;
      left: 192px;
      width: 80px;
      height: 80px;

      .white-circle {
        width: 52px;
        height: 52px;
      }
    }
  }

  @include respond-to($tablet) {
    padding: 51px 24px;
    width: 512px;

    .welcome-video-container {
      height: 272px;
      position: relative;

      .mobile-welcome-content {
        display: none;
      }
    }

    .play-button {
      top: 96px;
      left: 192px;
      width: 80px;
      height: 80px;

      .white-circle {
        width: 52px;
        height: 52px;
      }
    }
  }

  .welcome-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  .welcome-message {
    margin: 12px 0 43px;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
  }

  .welcome-video-container {
    
    &:hover {
      .play-button {
        display: flex;
      }
    }

    &:not(:hover) {
      .play-button {
        display: none;
      }

      .full-screen {
        display: none;
      }
    }

    .full-screen {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
    }

    .play-button {
      position: absolute;
      background: rgba(255, 255, 255, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      .white-circle {
        display: flex;
        background: $white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        .play-icon {
          border: 0;
          background: transparent;
          box-sizing: border-box;
          width: 0;
          height: 17.33px;
          border-color: transparent transparent transparent #202020;
          transition: 100ms all ease;
          border-style: solid;
          border-width: 10px 0 10px 16px;
          margin-left: 6px;

          &.pause {
            border-style: double;
            border-width: 0px 0 0px 16px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .watch-later-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

}
