.welcome-div {
  
  @include respond-to($desktop) {
    width: 512px;
    padding: 51px 24px;
  }

  @include respond-to($tablet) {
    padding: 51px 24px;
    width: 512px;
  }

  .welcome-content {

    @include respond-to($phone) {
      position: absolute;
      color: white;
      padding: 45px 40px;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .welcome-title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }
  
    .welcome-message {
      margin: 12px 0 43px;
      font-weight: normal;
      font-size: 13px;
      line-height: 130%;
  
      @include respond-to($phone) {
        margin-bottom: 28px;
      }
    }
  }

  .welcome-video-container {

    @include respond-to($desktop) {
      height: 272px;
      position: relative;
    }

    @include respond-to($tablet) {
      height: 272px;
      position: relative;
    }

    @include respond-to($phone) {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    video {
      @include respond-to($phone) {
        object-fit: cover;
      }
    }

    &:not(:hover) {
      .play-button {
        display: none;
      }

      .full-screen {
        display: none;
      }
    }

    .full-screen {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
    }

    .play-button {
      position: absolute;
      background: rgba(255, 255, 255, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      @include respond-to($desktop) {
        top: 96px;
        left: 192px;
        width: 80px;
        height: 80px;
      }

      @include respond-to($tablet) {
        top: 96px;
        left: 192px;
        width: 80px;
        height: 80px;
      }

      @include respond-to($phone) {
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
      }

      .white-circle {
        display: flex;
        background: $white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        @include respond-to($desktop) {
          width: 52px;
          height: 52px;
        }

        @include respond-to($tablet) {
          width: 52px;
          height: 52px;
        }
        
        @include respond-to($phone) {
          width: 52px;
          height: 52px;
        }

        .play-icon {
          border: 0;
          background: transparent;
          box-sizing: border-box;
          width: 0;
          height: 17.33px;
          border-color: transparent transparent transparent #202020;
          transition: 100ms all ease;
          border-style: solid;
          border-width: 10px 0 10px 16px;
          margin-left: 6px;

          &.pause {
            border-style: double;
            border-width: 0px 0 0px 16px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .watch-later-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include respond-to($phone) {
      position: absolute;
      bottom: 23px;
      width: 100%;
      left: 0;
    }
  }
}