.btw-login-mail {
  @extend .btw-register-mail;

  .btw-form {

    .forgot-password-link{
      margin-top: 50px;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      color: black;
    }

    .go-to-signup{
      margin-top: 20px;
    }
  }
}