.btw-register-social {
  .paper {
    @extend .btw-register-paper;

    .title {
      margin-bottom: 25px;
    }


    .buttons {
      margin-top: 30px;

      & > div {
        margin-bottom: 15px;
      }
    }
  }
}